[data-bid-module="class:cwinfo.wowideas:bs4.project:block.statmember"]
[bid-view="mainblock"] {
    font-family : 'Noto Sans KR', sans-serif  ;
}

[data-bid-module="class:cwinfo.wowideas:bs4.project:block.statmember"]
.bid-title-1 {
    white-space : nowrap ;
    text-align  : left ;
    font-family: NanumSquare,sans-serif;
    font-weight : bold ;
    font-size   : 1.5rem ;
    color       : rgba(1,20,41,1) ;
    letter-spacing : -0.5px;
}

[data-bid-module="class:cwinfo.wowideas:bs4.project:block.statmember"]
.bid-title-tab {
    line-height: 1.25rem ;
    text-align: left;
    font-family: NanumSquare,sans-serif;
    font-weight: normal ;
    font-size: 1.25rem ;
    color:rgba(128,128,128,1);
    letter-spacing: -0.3px;
    border-bottom: 4px solid transparent ;
    padding : 2px 4px 2px 4px ;
    cursor  : pointer ;
}

[data-bid-module="class:cwinfo.wowideas:bs4.project:block.statmember"]
.bid-title-tab.on {
    font-weight: bold ;
    color: rgba(0,0,0,1) ;
    border-bottom: 4px solid #4CD8BD ;
}

[data-bid-module="class:cwinfo.wowideas:bs4.project:block.statmember"]
.bid-sect-subtitle {
    height : 2rem ;
}

[data-bid-module="class:cwinfo.wowideas:bs4.project:block.statmember"]
.bid-table-statmember td{
    font-size  : 0.76rem ;
    padding    : 3px 1px ;
    text-align : center  ;
    border     : 1px solid #DEDEDE ;
    overflow   : hidden  ;
    white-space : nowrap ;
    text-overflow : ellipsis ;
}

[data-bid-module="class:cwinfo.wowideas:bs4.project:block.statmember"]
.bid-table-statmember td.cell-header-sub{
    font-size  : 11px     ;
    white-space: nowrap   ;
    font-family: Segoe UI ;
}

[data-bid-module="class:cwinfo.wowideas:bs4.project:block.statmember"]
.bid-btn-change-chartmode {
    cursor : pointer ;
}

.tooltip-inner {
    max-width: 500px; /* 이 특정 툴팁에 적용할 너비 */
    text-align : left ;
}
