[data-bid-module='class:cwinfo.wowideas:bs4.msgmain:part.toastmsg']
.bid-itemcard-default {
    width      : 100% ;
    padding    : 0   ;
    background-color : #FFFFFF ;
    border-radius    : 24px ;
    position   : relative ;
}

[data-bid-module='class:cwinfo.wowideas:bs4.msgmain:part.toastmsg']
.bid-callmodal-listmsg {
    width  : 100% ;
    height : 100% ;
    display : flex ;
    justify-content : center ;
    align-items : center ;
    font-size : 1.3rem ;
    line-height : 1 ;
    border : 0px solid #E2E2E2 ;
    background-color : #01142942 ;
    color : #FFFFFF ;
    cursor : pointer ;
}

/* Dialog Assemble */
[bid-module="class:cwinfo.wowideas:bs4.msgmain:part.toastmsg:dialog.assemble"] {
    /* Self CSS */
    /* 카드 내부에 그라데이션 적용 */
    background: linear-gradient(to bottom, #4E5052, #212223) ;
    border-radius: 15px;
    padding: 10px 10px;
    color: #F8F8F8 ;
    font-family: 'Noto Sans KR', sans-serif ;
    /* 외부에서 살짝 돌출된 느낌 */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6),
                -5px -5px 15px rgba(255, 255, 255, 0.1),
                /* 내부에서 살짝 들린 느낌 */
                inset -5px -5px 5px rgba(0, 0, 0, 0.8),
                inset 5px 5px 5px rgba(255, 255, 255, 0.5) ;


    /* Module CSS Style */
    .bidm-section-normalcard  {
        margin : 1rem 0.8rem 0.5rem 0.8rem ;
        padding : 0.7rem 0.7rem ;
        background-color : #101012 ;
        border-radius : 7px ;
    }
}

/* Remocon Dialog - 집합시키기 */
[bid-module="class:cwinfo.wowideas:bs4.msgmain:part.toastmsg:dialog.assemble"]
[bid-view="remoconassemble"] {
    height : auto ;
    margin-bottom : 1rem ;
}
